.ddev/.env

/.editorconfig
/.gitattributes
/.phpcs-cache

/drush/Commands/contrib/

/recipes/
/vendor/

/web/.csslintrc
/web/.eslintignore
/web/.eslintrc.json
/web/.ht.router.php
/web/.htaccess
/web/INSTALL.txt
/web/README.md
/web/autoload.php
/web/example.gitignore
/web/index.php
/web/modules/README.txt
/web/profiles/README.txt
/web/robots.txt
/web/sites/README.txt
/web/themes/README.txt
/web/update.php

/web/**/.gitignore
/web/core/

/web/libraries/
/web/modules/contrib/
/web/profiles/contrib/
/web/themes/contrib/

/web/sites/default/default.services.yml
/web/sites/default/default.settings.php
/web/sites/default/files
/web/sites/default/services*.yml
/web/sites/default/settings*.php
!/web/sites/default/settings.php
/web/sites/example.settings.local.php
/web/sites/example.sites.php
/web/sites/simpletest

node_modules
