name: canvas
type: drupal11
docroot: web
php_version: "8.3"
webserver_type: nginx-fpm
xdebug_enabled: false
additional_hostnames: []
additional_fqdns: []
database:
    type: mariadb
    version: "10.11"
use_dns_when_possible: true
composer_version: "2"
corepack_enable: true
working_dir:
  web: "/var/www/html/web/modules/contrib/canvas"
nodejs_version: "20"
web_environment:
  - VITE_SERVER_ORIGIN=https://${DDEV_HOSTNAME}:5174
web_extra_exposed_ports:
  - name: vite-dev-server
    container_port: 5173
    http_port: 5173
    https_port: 5174
